.App {
  width: 1300px;
  height: 700px;
}
.App-header {
  width: 100vW;
  height: 400px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("topimage.jpg"); 
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  opacity: 2px;
}

.titllename {
  font-size: 50px;
  
}
.topimage {
  
  width: 100vw;
  height:500px;
  
}
